@model DMSWebApp.Models.AntiAllergicDrugSymptom

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AntiAllergicDrugSymptom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AntiAllergicDrugName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AntiAllergicDrugName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllergyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllergyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AntiAllergicDrugSymptomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
